<footer
  id="footer"
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="footer_fragment"
>
  <div id="copyright">
    <div class="social-links">
      <a
        title="GitHub"
        href="https://github.com/myConsciousness"
        target="_blank"
        >GitHub</a
      >
      <span>|</span>
      <a
        title="Instagram"
        href="https://instagram.com/thinkit_shinya"
        target="_blank"
        >Instagram</a
      >
      <span>|</span>
      <a
        title="Twitter"
        href="https://twitter.com/thinkit_shinya"
        target="_blank"
        >Twitter</a
      >
    </div>
    <p>
      <span class="highlight-turquoise"
        >Copyright © 2020 Kato Shinya All Rights Reserved.</span
      >
    </p>
  </div>
</footer>
