html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic,
    "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo,
    Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background: url(../img/login_background.png) center no-repeat;
  background-size: cover;
}

#form-frame {
  background-color: aliceblue;
  opacity: 0.9;
  max-width: 512px;
  border-radius: 7%;
}

#from-other-platforms {
  max-width: 200px;
}

#from-other-platforms .btn {
  padding: 8px 24px;
  color: black;
  opacity: 0.8;
  border-radius: 8px;
  border: 2px solid #d0d0d0;
  cursor: pointer;
}

#from-other-platforms .btn:hover {
  background-color: #f8f8f8;
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

#validate-messsage {
  display: none;
}

#forms-box {
  max-width: 312px;
}

#forms-box button {
  color: whitesmoke;
  width: 312px;
}
