@font-face {
  font-family: "Ubuntu Mono";
  src: url(../font/Ubuntu_Mono/UbuntuMono-Regular.ttf);
}

html {
  height: 100%;
  width: 100%;
  /* ==========================================================================
   #FORM
   ========================================================================== */
  /* CHECKBOX */
  /* ==========================================================================
   #SELECT
   ========================================================================== */
  /* ==========================================================================
   #CARD
   ========================================================================== */
  /* ==========================================================================
   #NAVGATION
   ========================================================================== */
  /* ==========================================================================
   #FOOTER
   ========================================================================== */
}

html body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font-family: "Ubuntu Mono";
}

html .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html input,
html textarea {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 18px;
  font-family: inherit;
}

html input:disabled {
  background: transparent;
  cursor: pointer;
}

html textarea {
  resize: none;
}

html button {
  cursor: pointer;
}

html .input-group {
  position: relative;
  border-bottom: 2px solid #cccccc;
  margin-bottom: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

html .input-group-icon {
  position: relative;
  width: 100%;
}

html .input-icon {
  font-size: 24px;
  color: #808080;
  position: absolute;
  line-height: 51px;
  right: 0;
  top: 0;
  width: 42px;
  background: #fff;
  text-align: center;
  cursor: pointer;
}

html .input-icon::before {
  display: block;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

html .label {
  font-size: 18px;
  color: #333;
  text-transform: capitalize;
  font-weight: 700;
  margin-right: 30px;
  white-space: nowrap;
}

html .input--style-1 {
  font-weight: 700;
  font-size: 18px;
  padding: 15px 0;
  color: #666;
}

html .input--style-1::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ccc;
}

html .input--style-1:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  opacity: 1;
}

html .input--style-1::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
  opacity: 1;
}

html .input--style-1:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}

html .input--style-1:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc;
}

html .checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 15px;
  color: #666;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

html .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #ccc;
  border-radius: 3px;
}

html .checkbox-container input:checked ~ .checkmark {
  background-color: transparent;
}

html .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

html .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

html .checkbox-container .checkmark:after {
  left: 4px;
  top: 2px;
  width: 7px;
  height: 10px;
  border: solid #00ad5f;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

html select {
  border: none !important;
}

html .card {
  margin: 40px;
  padding: 20px;
}

html .navbar-brand {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 40px;
}

html #navbarSupportedContent {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
}

html #footer #copyright {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

html #footer #copyright p {
  width: 100%;
  padding: 0px;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 0px;
}

html #footer #copyright .social-links {
  margin-bottom: 0px;
}

html #footer #copyright .social-links a {
  color: #ffffff !important;
}

html #footer #copyright .social-links a:hover {
  color: #e31b6d !important;
}
/*# sourceMappingURL=common.css.map */