<!DOCTYPE html>
<html lang="en">
  <head
    th:replace="common/head_fragment :: head_fragment(title = 'Login', links = ~{::link})"
  >
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
  </head>
  <body>
    <form
      action="#"
      th:action="@{/login}"
      th:object="${loginForm}"
      method="post"
    >
      <div class="container">
        <div class="wrapper flex pt-5">
          <div class="shadow p-3" id="form-frame">
            <div class="text-center">
              <div th:replace="common/header_fragment :: header_fragment"></div>
            </div>

            <div id="main">
              <div id="forms-box" class="mx-auto">
                <div id="form-group-userid" class="form-group">
                  <input
                    type="text"
                    id="input-form-userid"
                    class="form-control"
                    aria-describedby="emailHelp"
                    placeholder="User ID"
                    th:field="*{userId}"
                    required
                  />
                </div>
                <div id="form-group-password" class="form-group text-center">
                  <input
                    type="password"
                    id="input-form-password"
                    class="form-control"
                    placeholder="Password"
                    th:field="*{password}"
                    required
                  />
                  <p id="validate-messsage" class="small text-danger">
                    ログイン情報を再度確認してください。
                  </p>
                </div>
                <div
                  id="checkbox-rememberme"
                  class="form-group form-check text-center"
                >
                  <input
                    type="checkbox"
                    id="rememberme"
                    class="form-check-input"
                    th:field="*{rememberMe}"
                  />
                  <label class="form-check-label" for="rememberme"
                    >Remember me</label
                  >
                </div>

                <div id="form-group-login-button" class="text-center">
                  <button id="btn-login" class="btn btn-success">Login</button>
                </div>

                <div id="form-group-forgot-password" class="text-center">
                  <p>Forgot password?</p>
                  <a
                    id="link-forgot-password"
                    class="small text-success font-weight-bold"
                    >Reset password</a
                  >
                </div>

                <div id="form-group-sign-up" class="text-center">
                  <p>Not registered yet?</p>
                  <a
                    id="link-sign-up"
                    class="small text-success font-weight-bold"
                    >Create account</a
                  >
                </div>
              </div>
            </div>

            <div th:replace="common/footer_fragment :: footer_fragment"></div>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
