@font-face {
  font-family: "Ubuntu Mono";
  src: url(../font/Ubuntu_Mono/UbuntuMono-Regular.ttf);
}

html {
  height: 100%;
  width: 100%;

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Ubuntu Mono";
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ==========================================================================
   #FORM
   ========================================================================== */
  input,
  textarea {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 18px;
    font-family: inherit;
  }

  input:disabled {
    background: transparent;
    cursor: pointer;
  }

  textarea {
    resize: none;
  }

  button {
    cursor: pointer;
  }

  .input-group {
    position: relative;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 41px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .input-group-icon {
    position: relative;
    width: 100%;
  }

  .input-icon {
    font-size: 24px;
    color: #808080;
    position: absolute;
    line-height: 51px;
    right: 0;
    top: 0;
    width: 42px;
    background: #fff;
    text-align: center;
    cursor: pointer;
  }

  .input-icon::before {
    display: block;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .label {
    font-size: 18px;
    color: #333;
    text-transform: capitalize;
    font-weight: 700;
    margin-right: 30px;
    white-space: nowrap;
  }

  .input--style-1 {
    font-weight: 700;
    font-size: 18px;
    padding: 15px 0;
    color: #666;
  }

  .input--style-1::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #ccc;
  }

  .input--style-1:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ccc;
    opacity: 1;
  }

  .input--style-1::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ccc;
    opacity: 1;
  }

  .input--style-1:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ccc;
  }

  .input--style-1:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ccc;
  }

  /* CHECKBOX */
  .checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 15px;
    color: #666;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  .checkbox-container input:checked ~ .checkmark {
    background-color: transparent;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }

  .checkbox-container .checkmark:after {
    left: 4px;
    top: 2px;
    width: 7px;
    height: 10px;
    border: solid #00ad5f;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* ==========================================================================
   #SELECT
   ========================================================================== */
  select {
    border: none !important;
  }

  /* ==========================================================================
   #CARD
   ========================================================================== */
  .card {
    margin: 40px;
    padding: 20px;
  }

  /* ==========================================================================
   #NAVGATION
   ========================================================================== */
  .navbar-brand {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 40px;
  }

  #navbarSupportedContent {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
  }

  /* ==========================================================================
   #FOOTER
   ========================================================================== */
  #footer {
    text-align: center;
  }
}
