@font-face {
  font-family: "Ubuntu Mono";
  src: url(../font/Ubuntu_Mono/UbuntuMono-Regular.ttf);
}

html {
  height: 100%;

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Ubuntu Mono";
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #footer {
    text-align: center;
  }
}
